Source: ros-noetic-taskflow
Section: misc
Priority: optional
Maintainer: Levi Armstrong <levi.armstrong@swri.org>
Build-Depends: debhelper (>= 9.0.0), cmake
Homepage: https://taskflow.github.io
Standards-Version: 3.9.2

Package: ros-noetic-taskflow
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-catkin
Description: The taskflow package
